table {
  border-collapse: separate;
  border-spacing: 10px;
}

.controlTable_table {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 600px;
}

.controlTable_cell {
  background-color: white;
  border-radius: 5px;

  text-align: center;
  font-size: 6rem;

  color: rgb(230, 230, 230);
}

.draggable {
  height: 30px;
  width: 100px;
  background-color: red;
}

.listPlace {
  width: 300px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.itemStyle {
  background-color: green;
  flex-grow: 1;

  height: 35px;
}
