table {
  border-collapse: separate;
  border-spacing: 10px;
  width: 90vw;
  height: 90vh;
}

td {
  border: 1px solid #000;
  border-radius: 5px;
}

.draggable {
  height: 30px;
  width: 100px;
  background-color: red;
}

.listPlace {
  width: 300px;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 5px;
}

.itemStyle {
  background-color: green;
  flex-grow: 1;

  height: 35px;
}
